[module/github]
type = internal/github

; Accessing an access token stored in file
token = ${file:~/.config/credentials/github_access_token_notifications}

; The github user for the token
; Effectively required; otherwise the module uses a deprecated method of fetching
; notifications, which has stopped working
user = {{ .gitconfig.user.name }}

; Whether empty notifications should be displayed or not
empty-notifications = false

; Number of seconds in between requests
interval = 10

; Github API URL
; Default: https://api.github.com/
; api-url = https://hub.example.org/api/v3/

; Available tags:
;   <label> (default)
format = <label>

; Available tokens:
;   %notifications% (default)
; Default: Notifications: %notifications%
label = %{T4}%{T-} %notifications%
label-foreground = ${xrdb:color7}

; Used when GitHub can't be reached
; Available tags:
;   <label-offline> (default)
format-offline = <label-offline>

; Available tokens:
;   None
; Default: Offline
label-offline = %{T4}%{T-} -
label-offline-foreground = ${xrdb:color7}
