CHAT_CACHE_PATH=/tmp/chat_cache
CACHE_PATH=/tmp/cache
CHAT_CACHE_LENGTH=100
CACHE_LENGTH=100
REQUEST_TIMEOUT=60
DEFAULT_MODEL=ollama/llama3.1
DEFAULT_COLOR=magenta
ROLE_STORAGE_PATH={{- .chezmoi.homeDir -}}/.config/shell_gpt/roles
DEFAULT_EXECUTE_SHELL_CMD=false
DISABLE_STREAMING=false
CODE_THEME=dracula
OPENAI_FUNCTIONS_PATH={{- .chezmoi.homeDir -}}/.config/shell_gpt/functions
OPENAI_USE_FUNCTIONS=false
SHOW_FUNCTIONS_OUTPUT=false
# API_BASE_URL=default
API_BASE_URL=http://localhost:4891
PRETTIFY_MARKDOWN=true
USE_LITELLM=true
OPENAI_API_KEY=dummy-key
