{{- if not .personal -}}
.ssh/*
.config/credentials/*
{{- end -}}

{{- if ne .chezmoi.os "linux" -}}
.chezmoiscripts/linux/**
.clamtk/**
{{- end -}}

{{- if eq .chezmoi.os "linux" -}}
{{-   if or (.ephemeral) (.headless) -}}
.clamtk/**
.config/alacrity/**
.config/fontconfig/**
.config/i3/**
.config/jgmenu/**
.config/networkmanager-dmenu/**
.config/openbox/**
.config/polybar/**
.config/rofi/**
.config/wpg/**
.config/xfce4/**
.config/picom.conf
{{-   end -}}
{{- end -}}
