@import "colors.scss";        // Base pywal colors
@import "smart-colors.scss";  // Smart semantic colors

/** Global *******************************************/
* {
  all: unset;
  font-family: Hack Nerd Font Mono;
}

/** Background ***************************************/
.bg {
  background-image: url($wallpaper);
  background-color: lighten($background, 10%);
  opacity: 1.0;
}
.placeholder {
  background-color: lighten($background, 14%);
  border-radius: 24px;
  padding: 8px;
  min-width: 155px;
  min-height: 155px;
}

/** Generic window ***********************************/
.genwin {
  background-color: lighten($background, 12%);
  border-radius: 24px;
  padding: 6px;
  min-width: 155px;
  min-height: 155px;
}

/** Clock ********************************************/
.time_hour,
.time_min {
  color: $color13;
  font-size: 65px;
  font-weight: bold;
}
.time_hour {
  margin: 15px 0px 0px 20px;
}
.time_min {
  margin: 0px 0px 10px 0px;
}

.time_mer {
  color: $color11;
  font-size: 40px;
  font-weight: bold;
  margin: 20px 0px 0px -35px;
}

.time_day {
  color: $color12;
  font-size: 25px;
  font-weight: normal;
  margin: 0px 0px 20px -35px;
}

// Clock widget container size
.powermenu-clock {
  min-width: 350px;
  min-height: 155px;
}

/** Uptime ********************************************/
.icontimer {
  color: $color1;
  font-size: 100px;
  font-weight: normal;
}

.uphour {
  color: $color2;
  font-size: 25px;
  font-weight: bold;
}

.upmin {
  color: $color2;
  font-size: 25px;
  font-weight: bold;
}

// Uptime widget container size
.powermenu-uptime {
  min-width: 350px;
  min-height: 155px;
}

/** Power buttons ***************************************/
.btn_lock,
.btn_logout,
.btn_sleep,
.btn_reboot,
.btn_poweroff {
  font-size: 58px;
  font-weight: bold;
}

.btn_lock {
  color: $color10;
}
.btn_logout {
  color: $color9;
}
.btn_sleep {
  color: $color11;
}
.btn_reboot {
  color: $color12;
}
.btn_poweroff {
  color: $color13;
}

/** Close button ***************************************/
.btn_close {
  color: $foreground;
  font-size: 48px;
  font-weight: bold;
  padding: 10px;
}

/** Layout containers **********************************/
.powermenu-container {
  min-width: 1920px;
  min-height: 1080px;
  background-image: url($wallpaper);
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: darken;
}

.powermenu-close-wrapper {
  padding: 20px 40px 0 0;
}

.powermenu-row {
  margin: 0 0;
}

/** EOF *************************************************/
