[Desktop Entry]
Version=1.0
Name=Xfce Settings Daemon
Name[ar]=عفريت إعدادات Xfce
Name[be]=Дэман налад Xfce
Name[be@tarask]=Сэрвіс наладаў Xfce
Name[bg]=Демон за настройките на Xfce
Name[ca]=Dimoni del gestor d'ajusts de Xfce
Name[cs]=Démon nastavení prostředí Xfce
Name[da]=Xfce-indstillingsdæmon
Name[de]=Xfce-Einstellungsdienst
Name[el]=Διαχειριστής ρυθμίσεων Xfce
Name[en_CA]=Xfce Settings Daemon
Name[en_GB]=Xfce Settings Daemon
Name[es]=Servicio de configuración de Xfce
Name[et]=Xfce seadete taustaprotsess
Name[eu]=Xfce ezarpen deabrua
Name[fi]=Xfce:n asetustaustaprosessi
Name[fr]=Service des paramètres Xfce
Name[gl]=Servizo de configuración do Xfce
Name[he]=שדון ההגדרות של Xfce
Name[hr]=Xfce nadglednik postavki
Name[hu]=Xfce beállításkezelő démon
Name[hy_AM]=Xfce կարգաւորումների դեմոն
Name[id]=Jurik Pengaturan Xfce
Name[ie]=Daemon de parametres de Xfce
Name[it]=Demone delle impostazioni di Xfce
Name[ja]=Xfce 設定デーモン
Name[kab]=Daemon n yiɣewwaren n Xfce
Name[kk]=Xfce баптаулар қызметі
Name[ko]=Xfce 설정 데몬
Name[lt]=Xfce nustatymų tarnyba
Name[ms]=Daemon Tetapan Xfce
Name[nb]=Bakgrunnsprosess for Xfce-innstillinger
Name[nl]=Achtergronddienst voor Xfce-instellingen
Name[oc]=Los paramètres del demòni Xfce
Name[pl]=Demon ustawień Xfce
Name[pt]=Serviço de definições do Xfce
Name[pt_BR]=Daemon de configurações do Xfce
Name[ru]=Служба диспетчера настроек Xfce
Name[sk]=Démon nastavení prostredia Xfce
Name[sl]=Pritajene Xfce nastavitve
Name[sq]=Demoni Xfce i Rregullimeve
Name[sr]=Домар поставки ИксФЦЕ-а
Name[sv]=Konfigurationsdemon för Xfce
Name[th]=ดีมอนค่าตั้งของ Xfce
Name[tr]=Xfce Ayarlar Süreci
Name[uk]=Служба налаштування Xfce
Name[zh_CN]=Xfce 设置守护进程
Name[zh_TW]=Xfce 設定幕後程式
Comment=The Xfce Settings Daemon
Comment[am]=የ Xfce ማሰናጃ እረዳት
Comment[ar]=بريمج إعدادات إكسفس
Comment[ast]=El degorriu d'axustes Xfce
Comment[be]=Дэман налад Xfce
Comment[be@tarask]=Сэрвіс наладаў Xfce
Comment[bg]=Управлението на настройките на Xfce
Comment[ca]=El dimoni del gestor d'ajusts de Xfce
Comment[cs]=Démon nastavení prostředí Xfce
Comment[da]=Xfce-indstillingsdæmonen
Comment[de]=Der Xfce-Einstellungsdienst
Comment[el]=Διαχειριστής ρυθμίσεων Xfce
Comment[en_AU]=The Xfce Settings Daemon
Comment[en_CA]=The Xfce Settings Daemon
Comment[en_GB]=The Xfce Settings Daemon
Comment[es]=El servicio de configuración de Xfce
Comment[et]=Xfce seadete taustaprotsess
Comment[eu]=Xfce ezarpen deabrua
Comment[fi]=Xfce:n asetustaustaprosessi
Comment[fr]=Le démon des paramètres Xfce
Comment[gl]=O daemon de configuración de Xfce
Comment[he]=תהליך רקע הגדרות של Xfce
Comment[hr]=Xfce nadglednik postavki
Comment[hu]=Az Xfce beállításkezelő démon
Comment[hy_AM]=Xfce֊ի կարգաւորումների աւժանդակ ծրագիր
Comment[hye]=Xfce֊ի կարգաւորումների աւժանդակ ծրագիր
Comment[id]=Jurik Pengaturan Xfce
Comment[ie]=Dæmon de parametres de Xfce
Comment[is]=XFCE Stillingamiðlarinn
Comment[it]=Demone delle impostazioni di Xfce
Comment[ja]=Xfce 設定デーモン
Comment[kab]=Daemon n yiɣewwaren Xfce
Comment[kk]=Xfce баптаулар қызметі
Comment[ko]=Xfce 설정 데몬
Comment[lt]=Xfce nustatymų tarnyba
Comment[lv]=Xfce iestatījumu dēmons
Comment[ms]=Daemon Tetapan Xfce
Comment[nb]=Bakgrunnsprosess for Xfce-innstillinger
Comment[nl]=De achtergronddienst voor Xfce-Instellingen
Comment[nn]=Xfce-innstillingsnissen
Comment[oc]=Los paramètres del demòni Xfce
Comment[pl]=Demon ustawień Xfce
Comment[pt]=Serviço de definições do Xfce
Comment[pt_BR]=O daemon de configurações do Xfce
Comment[ro]=Demonul opțiunilor Xfce
Comment[ru]=Служба диспетчера настроек Xfce
Comment[sk]=Démon nastavenia Xfce
Comment[sl]=Strežnik za Xfce nastavitve
Comment[sq]=Demoni i Rregullimeve Xfce
Comment[sr]=Домар поставки Иксфце-а
Comment[sv]=Inställningshanteraren för Xfce
Comment[te]=Xfce అమరికల డెమోన్
Comment[th]=ดีมอนค่าตั้งของ Xfce
Comment[tr]=Xfce Ayarlar Süreci
Comment[ug]=تەڭشەك مۇئەككىلى
Comment[uk]=Демон параметрів Xfce
Comment[zh_CN]=Xfce 设置守护进程
Comment[zh_HK]=Xfce 4 設定幕後程式
Comment[zh_TW]=Xfce 4 設定幕後程式
Exec=xfsettingsd
Icon=org.xfce.settings.manager
Terminal=false
Type=Application
StartupNotify=false
NotShowIn=GNOME;KDE;Unity;MATE;LXQt;
