{{ if and (eq .chezmoi.os "darwin" "linux") (not .headless) -}}

{{ $extensions := list
     "eamodio.gitlens"
     "EditorConfig.EditorConfig"
     "ms-python.python"
     "redhat.vscode-yaml"
     "streetsidesoftware.code-spell-checker"
     "yzhang.markdown-all-in-one"
     "VOSCA.vscode-v-analyzer"
-}}

#!/usr/bin/env bash

set -eufo pipefail

{{ range $extensions -}}
code --force --install-extension {{ . }}
{{ end -}}

SETTINGS_PATH="$HOME/.config/Code/User/settings.json"
FONT_FAMILY="'Hack Nerd Font Mono', 'Droid Sans Mono', 'monospace', monospace"

# Check if jq is installed
if ! command -v jq &>/dev/null; then
    echo "jq is not installed. Please install it to continue."
    exit 1
fi

# Modify settings.json
jq --arg font "${FONT_FAMILY}" '.["editor.fontFamily"]=$font' "${SETTINGS_PATH}" > temp.json && mv temp.json "${SETTINGS_PATH}"

{{ end -}}
