@import "colors.scss";

/** Global *******************************************/
* {
  all: unset;
  font-family: feather, Iosevka;
}

/** Background ***************************************/
.bg {
  background-image: url($wallpaper);
  background-color: lighten($background, 10%);
  opacity: 1;
}

/** Generic window ***********************************/
.genwin {
  background-color: lighten($background, 10%);
  border-radius: 16px;
}

/** Profile ******************************************/
.face {
  background-size: 200px;
  min-height: 200px;
  min-width: 200px;
  margin: 65px 0px 0px 0px;
  border-radius: 100%;
}

.fullname {
  color: $color9;
  font-size: 30px;
  font-weight: bold;
}

.username {
  color: $color10;
  font-size: 22px;
  font-weight: bold;
  margin: -15px 0px 0px 0px;
}

/** System ********************************************/
.iconcpu,
.iconmem,
.iconbright,
.iconbat {
  font-size: 32px;
  font-weight: normal;
}
.iconcpu {
  color: $color11;
}
.iconmem {
  color: $color12;
}
.iconbright {
  color: $color13;
}
.iconbat {
  color: $color14;
}

.cpu_bar,
.mem_bar,
.bright_bar,
.bat_bar,
scale trough {
  all: unset;
  background-color: lighten($background, 7.5%);
  border-radius: 16px;
  min-height: 28px;
  min-width: 240px;
}

.cpu_bar,
.mem_bar,
.bright_bar,
.bat_bar,
scale trough highlight {
  all: unset;
  border-radius: 16px;
}

.cpu_bar scale trough highlight {
  background-color: $color10;
}
.mem_bar scale trough highlight {
  background-color: $color11;
}
.bright_bar scale trough highlight {
  background-color: $color12;
}
.bat_bar scale trough highlight {
  background-color: $color13;
}

/** Clock ********************************************/
.time_hour,
.time_min {
  color: $color13;
  font-size: 70px;
  font-weight: bold;
}
.time_hour {
  margin: 15px 0px 0px 20px;
}
.time_min {
  margin: 0px 0px 10px 0px;
}

.time_mer {
  color: $color11;
  font-size: 40px;
  font-weight: bold;
  margin: 20px 0px 0px -32px;
}

.time_day {
  color: $color12;
  font-size: 30px;
  font-weight: normal;
  margin: 0px 0px 20px -32px;
}

/** Uptime ********************************************/
.icontimer {
  color: $color1;
  font-size: 90px;
  font-weight: normal;
}

.uphour {
  color: $color2;
  font-size: 42px;
  font-weight: bold;
}

.upmin {
  color: $color2;
  font-size: 32px;
  font-weight: bold;
}

/** Music ***************************************/
.album_art {
  background-size: 240px;
  min-height: 240px;
  min-width: 240px;
  margin: 20px;
  border-radius: 14px;
}

.song {
  color: $color7;
  font-size: 24px;
  font-weight: bold;
  margin: 40px 0px 0px 0px;
}

.artist {
  color: $color12;
  font-size: 16px;
  font-weight: normal;
  margin: 0px 0px 15px 0px;
}

.btn_prev,
.btn_play,
.btn_next {
  font-family: Iosevka Nerd Font;
}
.btn_prev {
  color: $color12;
  font-size: 32px;
  font-weight: normal;
}
.btn_play {
  color: $color11;
  font-size: 48px;
  font-weight: bold;
}
.btn_next {
  color: $color12;
  font-size: 32px;
  font-weight: normal;
}

.music_bar scale trough highlight {
  all: unset;
  background-color: $color13;
  border-radius: 8px;
}
.music_bar scale trough {
  all: unset;
  background-color: lighten($background, 7.5%);
  border-radius: 8px;
  min-height: 20px;
  min-width: 310px;
  margin: 10px 0px 0px 0px;
}

/** Weather ***************************************/
.iconweather {
  font-family: Iosevka Nerd Font;
  font-size: 120px;
  font-weight: normal;
  margin: 15px 0px 0px 30px;
}

.label_temp {
  color: $color11;
  font-size: 80px;
  font-weight: bold;
  margin: -15px 30px 0px 0px;
}

.label_stat {
  color: $color10;
  font-size: 38px;
  font-weight: bold;
}

.label_quote {
  color: $color15;
  font-size: 18px;
  font-weight: normal;
}

/** Links ***************************************/
.iconweb,
.iconmail {
  color: $color15;
  font-family: Iosevka Nerd Font;
  font-size: 70px;
  font-weight: normal;
}
.iconmail {
  color: #df584e;
}

.github {
  background-color: #24292e;
  border-radius: 16px;
}
.youtube {
  background-color: #df584e;
  border-radius: 16px;
}
.mail {
  background-color: $color15;
  border-radius: 16px;
}

.mailbox {
  background-color: $color15;
  border-radius: 10px;
  margin: 48px 0px 48px -32px;
}
.label_mails {
  color: $color8;
  font-size: 32px;
  font-weight: bold;
  margin: 0px 12px 0px -32px;
}

/** Power buttons ***************************************/
.btn_lock,
.btn_logout,
.btn_sleep,
.btn_reboot,
.btn_poweroff {
  font-size: 48px;
  font-weight: bold;
}

.btn_lock {
  color: $color10;
}
.btn_logout {
  color: $color9;
}
.btn_sleep {
  color: $color11;
}
.btn_reboot {
  color: $color12;
}
.btn_poweroff {
  color: $color13;
}

/** Home folders ***************************************/
.hddbox {
  background-color: lighten($background, 7.5%);
  border-radius: 10px;
  margin: 15px;
}
.hddicon {
  color: #81a1c1;
  font-family: Iosevka Nerd Font;
  opacity: 1;
  font-size: 70px;
  font-weight: normal;
  margin: 25px 20px 25px 40px;
}
.hdd_label {
  color: #e5e9f0;
  opacity: 1;
  font-size: 48px;
  font-weight: bold;
}
.fs_sep {
  color: lighten($background, 7.5%);
  font-size: 36px;
  font-weight: bold;
}

.iconfolder1,
.iconfolder2,
.iconfolder3,
.iconfolder4,
.iconfolder5,
.iconfolder6 {
  font-family: Iosevka Nerd Font;
  font-size: 32px;
  font-weight: normal;
  margin: 0px 0px 0px 60px;
}
.iconfolder1 {
  color: $color9;
}
.iconfolder2 {
  color: $color13;
}
.iconfolder3 {
  color: $color14;
}
.iconfolder4 {
  color: $color12;
}
.iconfolder5 {
  color: $color10;
}
.iconfolder6 {
  color: $color11;
}

.label_folder1,
.label_folder2,
.label_folder3,
.label_folder4,
.label_folder5,
.label_folder6 {
  font-size: 22px;
  font-weight: normal;
  margin: 0px 0px 0px 30px;
}
.label_folder1 {
  color: $color9;
}
.label_folder2 {
  color: $color13;
}
.label_folder3 {
  color: $color14;
}
.label_folder4 {
  color: $color12;
}
.label_folder5 {
  color: $color10;
}
.label_folder6 {
  color: $color11;
}

/** EOF *************************************************/
