{{ if (and (not .ephemeral) (not .headless)) -}}

{{      if eq .osid "linux-arch" -}}
#!/usr/bin/env bash

yay -S --noconfirm \
  networkmanager-dmenu \
  network-manager-applet
{{      end -}}

{{ end -}}
