{{ if eq .osid "linux-arch" -}}
#!/usr/bin/env bash

{{      if (and (not .ephemeral) (not .headless)) -}}
# Install packages
yay -S --noconfirm \
  arc-gtk-theme \
  arandr \
  betterlockscreen \
  dbus-python \
  flameshot \
  graphicsmagick \
  jq \
  numix-icon-theme \
  pacman-contrib \
  pamixer \
  pavucontrol \
  playerctl \
  pulseaudio \
  skippy-xd \
  sxiv \
  wmctrl \
  yad

{{      else -}}

yay -S --noconfirm jq

{{      end -}}

{{ end -}}
