# Qt / QML / CMake
build/
*.o
*.so
moc_*
qrc_*
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
cmake-build-*/

# Qt Creator
*.pro.user
*.qmlproject.user

# Quickshell / dev
.direnv
/result
/.qmlls.ini
.cache/
logs

# Python tests
__pycache__/
.pytest_cache/
.venv/

# Nix
result*
.direnv/
