[Desktop Entry]
Name=Hornero Config Manager
Comment=Manage configuration files and settings
Exec=horneroctl config gui
Icon=preferences-other
Terminal=false
Type=Application
Categories=Settings;
Keywords=config;configuration;manager;hornero;
