{{ if and (not .ephemeral) (not .headless) -}}

{{      if eq .osid "linux-arch" -}}
#!/usr/bin/env bash

sudo pacman -Syy --needed git base-devel
git clone https://aur.archlinux.org/yay.git /tmp/yay
cd /tmp/yay
makepkg -si
{{      end -}}

{{ end -}}
