{{ if and (not .ephemeral) (not .headless) -}}

{{      if eq .osid "linux-arch" -}}
#!/usr/bin/env bash

sudo pacman -S --noconfirm --needed \
  ollama

yay -S --noconfirm --needed \
  litellm

sudo systemctl enable --now ollama

# ollama pull llama3.1
ollama pull mistral:7b-instruct

pipx install shell-gpt[litellm]
{{      end -}}

{{ end -}}
