{{ if eq .osid "linux-arch" -}}
#!/usr/bin/env bash

set -eufo pipefail

{{ $packages := list
  "bat"
  "btop"
  "copyq"
  "dbus-python"
  "direnv"
  "fuzzel"
  "exa"
  "jq"
  "fastfetch"
  "mako"
  "pacman-contrib"
  "python"
  "python-pip"
  "python-pipx"
  "shellcheck"
  "acpi"
  "upower"
  "brightnessctl"
  "grim"
  "slurp"
  "cliphist"
  "pavucontrol"
  "wofi"
  "power-profiles-daemon"
-}}

{{ $aurPackages := list
  "cava"
  "auto-cpufreq"
  "nwg-bar"
  "nwg-drawer"
-}}

{{ if and (not .ephemeral) (not .headless) -}}
{{ $packages = concat $packages (list
  "arandr"
  "flameshot"
  "graphicsmagick"
  "orchis-theme"
  "pamixer"
  "playerctl"
  "pipewire-pulse"
  "sxiv"
  "w3m"
  "wmctrl"
  "yad"
  "hyprlock"
  "hypridle"
  "lxqt-config"
) -}}

{{ $aurPackages = concat $aurPackages (list
  "cursor-bin"
  "numix-circle-icon-theme-git"
  "pamac-aur"
  "pwvucontrol"
  "skippy-xd"
  "wlogout"
  "nwg-look"
  "nwg-displays"
  "poweralertd"
) -}}
{{ end -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

{{ $sudo }}pacman -S --noconfirm --needed {{ $packages | join " " }}

yay -S --noconfirm --needed {{ $aurPackages | join " " }}

{{ end -}}
