{{ if and (not .ephemeral) (not .headless) -}}

{{      if eq .osid "linux-arch" -}}
#!/usr/bin/env bash

set -euo pipefail

sudo pacman -S --noconfirm --needed \
  nodejs \
  npm

yay -S --noconfirm --needed \
  visual-studio-code-bin \
  cursor-bin \
  claude-code-stable \
  pi-coding-agent
{{      end -}}

{{ end -}}
