{{ if eq .osid "linux-arch" -}}
#!/usr/bin/env bash

set -eufo pipefail

{{ $packages := list
  "bat"
  "btop"
  "dbus-python"
  "direnv"
  "exa"
  "jq"
  "neofetch"
  "pacman-contrib"
  "shellcheck"
-}}

{{ $aurPackages := list
  "cava"
-}}

{{ if and (not .ephemeral) (not .headless) -}}
{{ $packages = concat $packages (list
  "arc-gtk-theme"
  "arandr"
  "flameshot"
  "graphicsmagick"
  "pamixer"
  "pavucontrol"
  "playerctl"
  "pulseaudio"
  "sxiv"
  "w3m"
  "wmctrl"
  "yad"
) -}}

{{ $aurPackages = concat $aurPackages (list
  "arc-dark-osx-openbox-theme-git"
  "betterlockscreen"
  "numix-icon-theme"
  "openbox-arc-git"
  "visual-studio-code-bin"
  "skippy-xd"
) -}}
{{ end -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

{{ $sudo }}pacman -S --noconfirm --needed {{ $packages | join " " }}

yay -S --noconfirm --needed {{ $aurPackages | join " " }}

{{ end -}}
