{{ if and (not .ephemeral) (not .headless) -}}

{{      if eq .osid "linux-arch" -}}
#!/usr/bin/env bash

yay -S --noconfirm --needed \
  i3-wm

# Install i3-layouts from PyPI
pip3 install --user --upgrade i3-layouts

# Install i3-resurrect from PyPI
pip3 install --user --upgrade i3-resurrect

# Install i3bgwin from source
git clone https://github.com/quantum5/i3bgwin
cd i3bgwin
make
sudo cp i3bgwin /usr/local/bin
sudo chmod +x /usr/local/bin/i3bgwin
{{      end -}}

{{ end -}}
