{{ if and (not .ephemeral) (not .headless) -}}

{{      if eq .osid "linux-arch" -}}
#!/usr/bin/env bash

sudo pacman -S --noconfirm --needed \
  python-pyxdg \
  exo \
  xdg-user-dirs

yay -S --noconfirm --needed \
  xdg-autostart
{{      end -}}

{{ end -}}
