{{ if and (not .ephemeral) (not .headless) -}}

{{      if eq .osid "linux-arch" -}}
#!/usr/bin/env bash

yay -S --noconfirm --needed \
  feh \
  python-pywal

pip3 install --user --upgrade wpgtk
{{      end -}}

{{ end -}}
