file:///home/{{ .chezmoi.username }}  Home
file:///home/{{ .chezmoi.username }}/Projects  Projects
file:///home/{{ .chezmoi.username }}/Downloads  Downloads
file:///home/{{ .chezmoi.username }}/Documents  Documents
file:///home/{{ .chezmoi.username }}/Pictures  Pictures
file:///home/{{ .chezmoi.username }}/Music  Music
file:///home/{{ .chezmoi.username }}/Videos  Videos
file:///home/{{ .chezmoi.username }}/.config .config
file:///home/{{ .chezmoi.username }}/.local/share  LocalShare
file:///home/{{ .chezmoi.username }}/.local/share/dots/rices  Rices
file:///home/{{ .chezmoi.username }}/.local/share/wallpapers  Wallpapers
file:///home/{{ .chezmoi.username }}/.local/bin  Bin
