# ============================================================================
# CopyQ Configuration - HorneroConfig Integration
# ============================================================================
#
# This configuration integrates CopyQ with the HorneroConfig dotfiles system.
# Smart Colors Integration: Colors are theme-adaptive via style.css
#
# ============================================================================

[General]
plugin_priority=itemimage, itemencrypted, itemfakevim, itemnotes, itempinned, itemsync, itemtags, itemtext

[Options]
activate_closes=true
activate_focuses=true
activate_item_with_single_click=false
activate_pastes=true
always_on_top=true
autocompletion=true
autostart=true
check_clipboard=true
check_selection=false
clipboard_notification_lines=0
clipboard_tab=&clipboard
close_on_unfocus=true
close_on_unfocus_delay_ms=500
command_history_size=100
confirm_exit=true
copy_clipboard=false
copy_selection=false
disable_tray=false
edit_ctrl_return=true
editor=gedit --standalone -- %1
expire_tab=0
filter_case_insensitive=true
filter_regular_expression=false
frameless_window=false
hide_main_window=false
hide_main_window_in_task_bar=false
hide_tabs=false
hide_toolbar=false
hide_toolbar_labels=true
item_data_threshold=1024
item_popup_interval=0
language=en
max_process_manager_rows=1000
maxitems=200
move=true
native_menu_bar=true
native_notifications=true
native_tray_menu=false
navigation_style=0
notification_horizontal_offset=10
notification_maximum_height=100
notification_maximum_width=300
notification_position=3
notification_vertical_offset=10
number_search=false
open_windows_on_current_screen=true
prevent_screen_cature=true
restore_geometry=true
row_index_from_one=true
run_selection=true
save_delay_ms_on_item_added=300000
save_delay_ms_on_item_edited=1000
save_delay_ms_on_item_modified=300000
save_delay_ms_on_item_moved=1800000
save_delay_ms_on_item_removed=600000
save_filter_history=false
save_on_app_deactivated=true
script_paste_delay_ms=250
show_advanced_command_settings=false
show_simple_items=false
show_tab_item_count=false
tab_tree=false
tabs=&clipboard
text_tab_width=8
text_wrap=true
transparency=0
transparency_focused=0
tray_commands=true
tray_images=true
tray_item_paste=true
tray_items=5
tray_menu_open_on_left_click=false
tray_tab=
tray_tab_is_current=true
update_clipboard_owner_delay_ms=-1
window_key_press_time_ms=50
window_paste_with_ctrl_v_regex=
window_wait_after_raised_ms=50
window_wait_before_raise_ms=20
window_wait_for_modifier_released_ms=2000
window_wait_raised_ms=150

[Plugins]
itemencrypted\enabled=true
itemfakevim\enabled=true
itemimage\enabled=true
itemimage\image_editor=
itemimage\max_image_height=240
itemimage\max_image_width=320
itemimage\svg_editor=
itemnotes\enabled=true
itempinned\enabled=true
itemsync\enabled=true
itemtags\enabled=true
itemtext\enabled=true

