<?xml version="1.0" encoding="UTF-8"?>
<openbox_pipe_menu>
  <item label="File Manager"><action name="Execute"><command><![CDATA[exo-open --launch FileManager]]></command></action></item>
  <item label="Terminal"><action name="Execute"><command><![CDATA[exo-open --launch TerminalEmulator]]></command></action></item>
  <item label="Web Browser"><action name="Execute"><command><![CDATA[exo-open --launch WebBrowser]]></command></action></item>
  <separator label="Categories"/>
  <menu id="0.702709225778566" label="Accessories">
    <item label="About Xfce"><action name="Execute"><command><![CDATA[xfce4-about]]></command></action></item>
    <item label="Application Finder"><action name="Execute"><command><![CDATA[xfce4-appfinder]]></command></action></item>
    <item label="Bulk Rename"><action name="Execute"><command><![CDATA[thunar --bulk-rename]]></command></action></item>
    <item label="Compfy"><action name="Execute"><command><![CDATA[compfy]]></command></action></item>
    <item label="File Manager"><action name="Execute"><command><![CDATA[exo-open --launch FileManager]]></command></action></item>
    <item label="Notion"><action name="Execute"><command><![CDATA[/opt/Notion/notion-app]]></command></action></item>
    <item label="picom"><action name="Execute"><command><![CDATA[picom]]></command></action></item>
    <item label="Run Program..."><action name="Execute"><command><![CDATA[xfce4-appfinder --collapsed]]></command></action></item>
    <item label="Screenshot"><action name="Execute"><command><![CDATA[xfce4-screenshooter]]></command></action></item>
    <item label="Solaar"><action name="Execute"><command><![CDATA[solaar]]></command></action></item>
    <item label="Terminal Emulator"><action name="Execute"><command><![CDATA[exo-open --launch TerminalEmulator]]></command></action></item>
    <item label="Vim"><action name="Execute"><command><![CDATA[xterm -e 'vim']]></command></action></item>
    <item label="wpgtk"><action name="Execute"><command><![CDATA[/usr/bin/wpg]]></command></action></item>
    <item label="Xarchiver"><action name="Execute"><command><![CDATA[xarchiver]]></command></action></item>
  </menu>
  <menu id="0.596003562302457" label="Development">
    <item label="CMake"><action name="Execute"><command><![CDATA[cmake-gui]]></command></action></item>
    <item label="Emacs (Client)"><action name="Execute"><command><![CDATA[sh -c "if [ -n \"\$*\" ]; then exec /usr/bin/emacsclient --alternate-editor= --display=\"\$DISPLAY\" \"\$@\"; else exec emacsclient --alternate-editor= --create-frame; fi" sh]]></command></action></item>
    <item label="Emacs"><action name="Execute"><command><![CDATA[emacs]]></command></action></item>
    <item label="FLUID"><action name="Execute"><command><![CDATA[fluid]]></command></action></item>
    <item label="Icon Browser"><action name="Execute"><command><![CDATA[yad-icon-browser]]></command></action></item>
    <item label="Qt Assistant"><action name="Execute"><command><![CDATA[assistant]]></command></action></item>
    <item label="Qt Designer"><action name="Execute"><command><![CDATA[designer]]></command></action></item>
    <item label="Qt Linguist"><action name="Execute"><command><![CDATA[linguist]]></command></action></item>
    <item label="Qt QDBusViewer"><action name="Execute"><command><![CDATA[qdbusviewer]]></command></action></item>
    <item label="Visual Studio Code"><action name="Execute"><command><![CDATA[/usr/bin/code --unity-launch]]></command></action></item>
  </menu>
  <menu id="0.646167913490114" label="Games">
    <item label="Steam (Native)"><action name="Execute"><command><![CDATA[/usr/bin/steam-native]]></command></action></item>
    <item label="Steam (Runtime)"><action name="Execute"><command><![CDATA[/usr/bin/steam-runtime]]></command></action></item>
  </menu>
  <menu id="0.901590926895501" label="Graphics">
    <item label="Flameshot"><action name="Execute"><command><![CDATA[/usr/bin/flameshot]]></command></action></item>
    <item label="FontForge"><action name="Execute"><command><![CDATA[fontforge]]></command></action></item>
    <item label="Peek"><action name="Execute"><command><![CDATA[peek]]></command></action></item>
  </menu>
  <menu id="0.109037752391561" label="Multimedia">
    <item label="Peek"><action name="Execute"><command><![CDATA[peek]]></command></action></item>
    <item label="PulseAudio Volume Control"><action name="Execute"><command><![CDATA[pavucontrol]]></command></action></item>
    <item label="Qt V4L2 test Utility"><action name="Execute"><command><![CDATA[qv4l2]]></command></action></item>
    <item label="Qt V4L2 video capture utility"><action name="Execute"><command><![CDATA[qvidcap]]></command></action></item>
    <item label="SimpleScreenRecorder"><action name="Execute"><command><![CDATA[simplescreenrecorder --logfile]]></command></action></item>
    <item label="Videos"><action name="Execute"><command><![CDATA[io.elementary.videos]]></command></action></item>
    <item label="Volume Icon"><action name="Execute"><command><![CDATA[volumeicon]]></command></action></item>
  </menu>
  <menu id="0.878855814444236" label="Network">
    <item label="Avahi SSH Server Browser"><action name="Execute"><command><![CDATA[/usr/bin/bssh]]></command></action></item>
    <item label="Avahi VNC Server Browser"><action name="Execute"><command><![CDATA[/usr/bin/bvnc]]></command></action></item>
    <item label="Brave"><action name="Execute"><command><![CDATA[brave]]></command></action></item>
    <item label="Discord"><action name="Execute"><command><![CDATA[/usr/bin/perl -e 'chdir($ARGV[0]) && exec($ARGV[1])' \/usr\/bin \/usr\/bin\/discord]]></command></action></item>
    <item label="Mail Reader"><action name="Execute"><command><![CDATA[exo-open --launch MailReader]]></command></action></item>
    <item label="NetworkManager Dmenu"><action name="Execute"><command><![CDATA[networkmanager_dmenu]]></command></action></item>
    <item label="Steam (Native)"><action name="Execute"><command><![CDATA[/usr/bin/steam-native]]></command></action></item>
    <item label="Steam (Runtime)"><action name="Execute"><command><![CDATA[/usr/bin/steam-runtime]]></command></action></item>
    <item label="TigerVNC Viewer"><action name="Execute"><command><![CDATA[/usr/bin/vncviewer]]></command></action></item>
    <item label="Web Browser"><action name="Execute"><command><![CDATA[exo-open --launch WebBrowser]]></command></action></item>
  </menu>
  <menu id="0.108196949257344" label="Office">
    <item label="Notion"><action name="Execute"><command><![CDATA[/opt/Notion/notion-app]]></command></action></item>
    <item label="Zathura"><action name="Execute"><command><![CDATA[zathura]]></command></action></item>
  </menu>
  <menu id="0.636459612328586" label="Other">
    <item label="Rofi Theme Selector"><action name="Execute"><command><![CDATA[rofi-theme-selector]]></command></action></item>
    <item label="Rofi"><action name="Execute"><command><![CDATA[rofi -show]]></command></action></item>
  </menu>
  <menu id="0.916374411658044" label="Settings">
    <item label="Accessibility"><action name="Execute"><command><![CDATA[xfce4-accessibility-settings]]></command></action></item>
    <item label="Add/Remove Software"><action name="Execute"><command><![CDATA[pamac-manager]]></command></action></item>
    <item label="Advanced Network Configuration"><action name="Execute"><command><![CDATA[nm-connection-editor]]></command></action></item>
    <item label="Appearance"><action name="Execute"><command><![CDATA[xfce4-appearance-settings]]></command></action></item>
    <item label="ARandR"><action name="Execute"><command><![CDATA[arandr]]></command></action></item>
    <item label="Bluetooth Adapters"><action name="Execute"><command><![CDATA[blueman-adapters]]></command></action></item>
    <item label="Bluetooth Manager"><action name="Execute"><command><![CDATA[blueman-manager]]></command></action></item>
    <item label="Color Profiles"><action name="Execute"><command><![CDATA[xfce4-color-settings]]></command></action></item>
    <item label="Default Applications"><action name="Execute"><command><![CDATA[xfce4-mime-settings]]></command></action></item>
    <item label="Desktop"><action name="Execute"><command><![CDATA[xfdesktop-settings]]></command></action></item>
    <item label="Display"><action name="Execute"><command><![CDATA[xfce4-display-settings]]></command></action></item>
    <item label="File Manager Settings"><action name="Execute"><command><![CDATA[thunar-settings]]></command></action></item>
    <item label="Keyboard"><action name="Execute"><command><![CDATA[xfce4-keyboard-settings]]></command></action></item>
    <item label="Mouse and Touchpad"><action name="Execute"><command><![CDATA[xfce4-mouse-settings]]></command></action></item>
    <item label="NetworkManager Dmenu"><action name="Execute"><command><![CDATA[networkmanager_dmenu]]></command></action></item>
    <item label="Notifications"><action name="Execute"><command><![CDATA[xfce4-notifyd-config]]></command></action></item>
    <item label="Openbox Configuration Manager"><action name="Execute"><command><![CDATA[obconf]]></command></action></item>
    <item label="Panel"><action name="Execute"><command><![CDATA[xfce4-panel --preferences]]></command></action></item>
    <item label="Power Manager"><action name="Execute"><command><![CDATA[xfce4-power-manager-settings]]></command></action></item>
    <item label="PulseAudio Volume Control"><action name="Execute"><command><![CDATA[pavucontrol]]></command></action></item>
    <item label="Removable Drives and Media"><action name="Execute"><command><![CDATA[thunar-volman-settings]]></command></action></item>
    <item label="Session and Startup"><action name="Execute"><command><![CDATA[xfce4-session-settings]]></command></action></item>
    <item label="Settings Editor"><action name="Execute"><command><![CDATA[xfce4-settings-editor]]></command></action></item>
    <item label="Settings Manager"><action name="Execute"><command><![CDATA[xfce4-settings-manager]]></command></action></item>
    <item label="Window Manager Tweaks"><action name="Execute"><command><![CDATA[xfwm4-tweaks-settings]]></command></action></item>
    <item label="Window Manager"><action name="Execute"><command><![CDATA[xfwm4-settings]]></command></action></item>
    <item label="Workspaces"><action name="Execute"><command><![CDATA[xfwm4-workspace-settings]]></command></action></item>
    <item label="Xfce Terminal Settings"><action name="Execute"><command><![CDATA[xfce4-terminal --preferences]]></command></action></item>
    <item label="YAD settings"><action name="Execute"><command><![CDATA[yad-settings]]></command></action></item>
  </menu>
  <menu id="0.954981522460685" label="System">
    <item label="Add/Remove Software"><action name="Execute"><command><![CDATA[pamac-manager]]></command></action></item>
    <item label="Alacritty"><action name="Execute"><command><![CDATA[alacritty]]></command></action></item>
    <item label="Avahi Zeroconf Browser"><action name="Execute"><command><![CDATA[/usr/bin/avahi-discover]]></command></action></item>
    <item label="GParted"><action name="Execute"><command><![CDATA[/usr/bin/gparted]]></command></action></item>
    <item label="Hardware Locality lstopo"><action name="Execute"><command><![CDATA[lstopo]]></command></action></item>
    <item label="Htop"><action name="Execute"><command><![CDATA[xterm -e 'htop']]></command></action></item>
    <item label="jgmenu"><action name="Execute"><command><![CDATA[jgmenu_run]]></command></action></item>
    <item label="kitty"><action name="Execute"><command><![CDATA[kitty]]></command></action></item>
    <item label="Log Out"><action name="Execute"><command><![CDATA[xfce4-session-logout]]></command></action></item>
    <item label="Oracle VM VirtualBox"><action name="Execute"><command><![CDATA[VirtualBox]]></command></action></item>
    <item label="ranger"><action name="Execute"><command><![CDATA[xterm -e 'ranger']]></command></action></item>
    <item label="Thunar File Manager"><action name="Execute"><command><![CDATA[thunar]]></command></action></item>
    <item label="UXTerm"><action name="Execute"><command><![CDATA[uxterm]]></command></action></item>
    <item label="Xfce Terminal"><action name="Execute"><command><![CDATA[xfce4-terminal]]></command></action></item>
    <item label="XTerm"><action name="Execute"><command><![CDATA[xterm]]></command></action></item>
  </menu>
  <separator/>
  <menu id="0.356538922309294" label="Advanced Settings">
    <item label="Dotfiles Configuration"><action name="Execute"><command><![CDATA[geany ~/.dotfiles]]></command></action></item>
  <menu id="0.699583347644399" label="Obmenu-Generator">
    <item label="Menu Schema"><action name="Execute"><command><![CDATA[geany ~/.config/obmenu-generator/schema.pl]]></command></action></item>
    <item label="Menu Config"><action name="Execute"><command><![CDATA[geany ~/.config/obmenu-generator/config.pl]]></command></action></item>
  <separator/>
    <item label="Generate a static menu"><action name="Execute"><command><![CDATA[obmenu-generator -s -c]]></command></action></item>
    <item label="Generate a static menu with icons"><action name="Execute"><command><![CDATA[obmenu-generator -s -i -c]]></command></action></item>
  <separator/>
    <item label="Generate a dynamic menu"><action name="Execute"><command><![CDATA[obmenu-generator -p]]></command></action></item>
    <item label="Generate a dynamic menu with icons"><action name="Execute"><command><![CDATA[obmenu-generator -p -i]]></command></action></item>
  <separator/>
    <item label="Refresh cache"><action name="Execute"><command><![CDATA[obmenu-generator -d]]></command></action></item>
  </menu>
  <menu id="0.78673188437914" label="Openbox">
    <item label="Openbox Autostart"><action name="Execute"><command><![CDATA[geany ~/.config/openbox/autostart]]></command></action></item>
    <item label="Openbox RC"><action name="Execute"><command><![CDATA[geany ~/.config/openbox/rc.xml]]></command></action></item>
    <item label="Openbox Menu"><action name="Execute"><command><![CDATA[geany ~/.config/openbox/menu.xml]]></command></action></item>
    <item label="Reconfigure Openbox"><action name="Execute"><command><![CDATA[openbox --reconfigure]]></command></action></item>
  </menu>
  </menu>
  <separator/>
    <item label="Lock"><action name="Execute"><command><![CDATA[betterlockscreen --lock]]></command></action></item>
    <item label="Exit"><action name="Exit"/></item>
</openbox_pipe_menu>
<!-- vim:sw=2
-->
