name: AUR Publish - Stable version

on:
  push:
    tags:
      - v*

jobs:
  ci:
    name: CI Checks
    uses: ./.github/workflows/ci.yml

  aur-publish:
    needs:
      - ci

    runs-on: ubuntu-latest
    
    concurrency: stable
    
    environment:
      name: stable
      url: https://aur.archlinux.org/packages/dots-stable
    
    steps:
      - name: Checkout Latest Dotfiles Release
        uses: actions/checkout@v4

      - name: Publish AUR package
        uses: ulises-jeremias/github-actions-aur-publish@v1
        with:
          pkgname: dots-stable
          pkgbuild: ./PKGBUILD
          commit_username: ${{ secrets.AUR_USERNAME }}
          commit_email: ${{ secrets.AUR_EMAIL }}
          ssh_private_key: ${{ secrets.AUR_SSH_PRIVATE_KEY }}
          commit_message: Update AUR package
          ssh_keyscan_types: rsa,dsa,ecdsa,ed25519
          update_pkgver: true
          allow_empty_commits: false
