name: Clone and Install

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

  schedule:
    - cron: "31 1,12 * * *"

  push:
    branches:
      - main

  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  clone-and-install:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        devcontainer-image:
          - mcr.microsoft.com/vscode/devcontainers/base:ubuntu
    container:
      image: ${{ matrix.devcontainer-image }}
      env:
        CODESPACES: true
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Validate script standards
        run: ./scripts/validate-dots-scripts.sh

      - name: Install Dotfiles
        run: ./install.sh

      - name: Chezmoi data
        if: always()
        run: '"$HOME/.local/bin/chezmoi" data'
